:root{
    --BlueOne: #042940;
    --GrayOne:#005C53;
    --GreenOne: #9FC131;
    --GreenTwo:#DBF227;
    --GrenTwo:#D6D58E;
}


html{
    font-size: 62.5%;
}

body{
    font-size: 16px; /* 1rem = 10px */
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
}

.Title{
    text-align: center;
    font-size: 3.8rem;
    color:var(--BlueOne);
    font-weight: 400;
    font-style: normal;
}